@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #F5F5F5;        
  --foreground: #171717;        
  --white: #FFFFFF;             

  --primary-light: #C8B1D2;
  --primary: #74489A;
  --secondary: #EAB926;
  --dark: #3B2B34;
  --green: #6F7645;


  --font-sans: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.card {
  width: 170px;
  height: 48px;
}

.selectedmenu {
  color: var(--primary);
  font-weight: 500; 
  border-width: 2px;
  border-color: var(--primary);
  border-radius: 0.5rem; 
}

.selectedsubmenu {
  color: var(--primary);
  font-weight: 500; 
  border-color: var(--primary);
}